body {
  background-color: #f6f7fc;
}

ul {
  list-style-type: none;    
  overflow: hidden;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li{
    float: right;
}

li a {
  display: block;  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.profile{
    background-color: #fff;    
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 40px;
    margin-top: 2%;    
}

.profile-item-1{
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.avatar-img{
    border-radius: 130px;
}

.button{
    display: grid;
    margin-top: 60px;
    grid-template-columns: auto auto auto;
}

.btn-kontak{
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 3px;
    border: 0;
}

.btn-resume{    
    color: green;
    padding: 10px;
    margin: 3px;
    border: 1;
}

.table-profile{
    margin: 40px;
}

td.th{
    font-weight: bold;
    padding: 10px;        
}

.content{
    background-color: #fff;
    margin: 40px;
    padding: 20px;
}

.label{
    font-weight: bold;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.btn-submit{
    background-color: green;
    padding: 10px;
    text-align: center;
    border: 0;
    width: 100%;
    margin-top: 2%;
    color: white;
}